html{
    box-sizing: border-box;
    background-color: black;
}
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
 body{
    justify-content: center;
}
h1{
    display: flex; 
    text-shadow: 2px 5px 2px white;
    font-family: 'Bebas Neue', cursive;
    color: orange;
    font-size: 60px;
     -webkit-text-stroke: .5px white;
}
table{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 350px;
    height: 600px;
    width: 290px;
    background-color: #ff0e3c;
    border: orange solid 15px;
    text-align: right;
    font-size: 40px;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}

button{
    background-color: yellow;
    font-size: 25px;
    text-shadow: 5px 5px 5px white;
    border-radius: 50px;
    border: solid rgba(208, 255, 0, 0.435);
    box-shadow: 5px 5px black;
    padding: 10px 10px 15px 20px;
    text-align: center;
    margin-top: 25px;
}
button:hover{
    background-color:#FF3AAB ;
}

.reset{
    padding: 15px 30px ;
}

#numbers{
    text-align: center;
}
#results, #history{
    background-color: rgba(250, 255, 255, 0.408);
    margin: 50px 60px;
    border-radius: 10px;
}
#results{
    background-color:white;
}
#history{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.422);
}