html{
    box-sizing: border-box;
}
*::before,
*::after{
    box-sizing: inherit;
}
:root{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: black;
}
#container{
    display: flex;
    background-color: #5FFBF1;
    border: orange solid 15px;
    padding: 40px 80px 50px 100px;
}
h1{
    display: flex;
    
    justify-content:center;    
    color: orange;

}
h2{
    font-size: x-large;
    justify-content: center;
}
button{
    justify-content: center;
    border-radius: 50%;
    font-size: x-large;
}
#operator{
    background-color: pink;
}

.reset{
    background-color: orange;
}
#number{
    background-color: #86A8E7
}



